name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
      
    - name: Git Semantic Version
      id: version
      uses: PaulHatch/semantic-version@v5.4.0
      with:
        major_pattern: "major:"
        minor_pattern: "feat:"
        version_format: "${major}.${minor}.${patch}"
    
    - name: Docker Login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKERHUB_ACCESS_TOKEN}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

    - name: Build Image
      env:
        NEW_VERSION: ${{steps.version.outputs.version}}
      run: docker build . --file Dockerfile --tag josemp05/docker-graphql:$NEW_VERSION

    - name: Push Image
      env:
        NEW_VERSION: ${{steps.version.outputs.version}}
      run: docker push josemp05/docker-graphql:$NEW_VERSION
